.container1{
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: auto;
    margin-left:  auto;
    margin-top: 20px;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px; 
  }

.img1 {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    float: left;
    z-index: 800;
    padding: 5px;
    height: 357px;
  }

  .col-sm-6 {
    max-width: 49%;
  }